<div class="content-wrapper">	
        <div class="content-page">   
 			<div class="page-header page-header-light"> 
 			    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline"> 
 					<div class="d-flex"> 
 						<div class="breadcrumb"> 
 							<a href="/sgdfd/mat/perfil" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Tabla de Postulantes</a> 
 							<span class="breadcrumb-item active">Información del Postulante</span> 				
 						</div> 
 					</div> 					
 			    </div> 

 			    <div class="page-header-content header-elements-md-inline"> 
				    <div class="" style=" padding-top: 1.2%; padding-bottom:0.4%;"> 
 						<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Datos del postulante</span></h4> 
 				    </div> 
                </div> 

			</div>	 

			<div class="page-content" style="height: 1393px;">
                <div class="content-wrapper" style="overflow: hidden !important; ">
        			<div class="content">
                        <div class="d-md-flex align-items-md-start">
                            
					<!-- Right content -->
					        <div class="content w-100 overflow-auto">
						        <div class="fade active show" id="profile">
							        <div class="row">

								        <div class="col-lg-6">
									        <div class="card border-left-3 border-left-danger rounded-left-0">
										        <div class="card-body">
											        <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
												        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
													        <h4 class="font-weight-semibold">DATOS PERSONALES</h4>
															<div class="table-responsive">
													            <div id="tblDatosPersonales_wrapper" class="dataTables_wrapper no-footer"><div class="table-responsive"><table id="tblDatosPersonales" class="table-borderless dataTable no-footer" role="grid" style="width: 100%;">																					
													                <tbody><tr role="row" class="odd"><td></td><td class=" text-right"></td></tr>
                                                                    <tr role="row" class="even"><td></td><td class=" text-right"></td></tr>
                                                                    <tr role="row" class="odd"><td>DNI: <br></td>
                                                                    <td class=" text-right"> <input type="text" value=" 73368212" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="even"><td>Apellido Paterno:  <br></td>
                                                                    <td class=" text-right"> <input type="text" value=" UNOCC" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="odd"><td>Apellido Materno:</td>
                                                                    <td class=" text-right"> <input type="text" value=" SIHUINTA" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="even"><td>Nombres: <br></td><td class=" text-right"> <input type="text" value=" ROBERTO CARLOS" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="odd"><td>Correo Institucional: <br></td>
                                                                    <td class=" text-right"> <input type="text" value=" carlos.unocc@unmsm.edu.pe" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="even"><td>Correo Personal: <br></td><td class=" text-right"> <input type="text" value=" carlios236@hotmail.com" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="odd"><td>Celular: <br></td><td class=" text-right"> <input type="text" value=" 99998-1001" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="even"><td>Telf. Fijo.: <br></td><td class=" text-right"> <input type="text" value=" 623-4567" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="odd"><td>Sexo :</td><td class=" text-right"> <input type="text" value=" Masculino" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="even"><td>Estado Civil: <br></td><td class=" text-right"> <input type="text" value=" Soltero" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="odd"><td></td><td class=" text-right"></td></tr><tr role="row" class="even"><td>Fecha Nacimiento: <br></td>
                                                                    <td class=" text-right"> <input type="text" value=" 1997-05-12" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="odd"><td>Dirección: <br></td><td class=" text-right"> <input type="text" value=" Ate" readonly="readonly" class="form-control"> </td></tr>
                                                                    <tr role="row" class="even"><td></td><td class=" text-right"></td></tr><tr role="row" class="odd"><td></td><td class=" text-right"></td></tr><tr role="row" class="even"><td></td>
                                                                    <td class=" text-right"></td></tr><tr role="row" class="odd"><td></td><td class=" text-right"></td></tr><tr role="row" class="even"><td></td><td class=" text-right"></td></tr>
                                                                    <tr role="row" class="odd"><td></td><td class=" text-right"></td></tr><tr role="row" class="even"><td></td><td class=" text-right"></td></tr><tr role="row" class="odd"><td></td>
                                                                    <td class=" text-right"></td></tr><tr role="row" class="even"><td></td><td class=" text-right"></td></tr><tr role="row" class="odd"><td></td><td class=" text-right"></td></tr>
                                                                    <tr role="row" class="even"><td></td><td class=" text-right"></td></tr><tr role="row" class="odd"><td></td><td class=" text-right"></td></tr><tr role="row" class="even"><td></td>
                                                                    <td class=" text-right"></td></tr><tr role="row" class="odd"><td></td><td class=" text-right"></td></tr></tbody></table></div></div>
									                        </div>	
												        </div>											
											        </div>
										        </div>
									        </div>
								        </div>

								        <div class="col-lg-6">
									        <div class="card border-left-3 border-left-success rounded-left-0">
										        <div class="card-body">
											        <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
												        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><div>
													        <h4 class="font-weight-semibold">DATOS ACADÉMICOS</h4>
													
                                                            <div class="table-responsive">
													            <div id="tblDatosAcademicos_wrapper" class="dataTables_wrapper no-footer">
                                                                    <div class="table-responsive"><table id="tblDatosAcademicos" class="table-borderless dataTable no-footer" role="grid" style="width: 100%;">																					
													                    <tbody>
                                                                        <tr role="row" class="odd"><td></td>
                                                                        <td class=" text-right"></td></tr>
                                                                        <tr role="row" class="even"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="odd"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="even"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="odd"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="even"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="odd"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="even"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="odd"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="even"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="odd"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="even"><td></td>
                                                                        <td class=" text-right"></td></tr><tr role="row" class="odd"><td></td>
                                                                    
                                                                        <td class=" text-right"></td></tr><tr role="row" class="odd"><td>Código de Alumno:</td> 
                                                                        <td class=" text-right"> <input type="text" value="21000201" readonly="readonly" class="form-control"> 
                                                                        <td class=" text-right"></td></tr><tr role="row" class="odd"><td>Facultad:</td>
                                                                        <td class=" text-right"> <input type="text" value="Facultad de Ingeniería de Sistemas e Informatica" readonly="readonly" class="form-control"> 
                                                                         <td class=" text-right"></td></tr><tr role="row" class="odd"><td>Escuela Profesional:</td>
                                                                        <td class=" text-right"> <input type="text" value=" E.P. de Ingeniería de Software" readonly="readonly" class="form-control"> 
                                                                        <tr role="row" class="even"><td></td><td class=" text-right"></td></tr><tr role="row" class="odd"><td>Plan: <br></td>
                                                                        <td class=" text-right"> <input type="text" value=" Plan de estudios 2021" readonly="readonly" class="form-control"> </td></tr></tbody></table>
                                                                        
                                                                    </div>
                                                                </div>
													        </div>	


												            </div>												
											            </div>
										            </div>					
									            </div>
								            </div>
							            </div>

                                        <div class="col-lg-12">
									        <div class="card border-left-3 border-left-success rounded-left-0">
										        <div class="card-body">
											        <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
												        <div class="col-xs-2 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                        <div>
													        <h4 class="font-weight-semibold">FOTOS DEL POSTULANTE</h4>


                                                          
													
                                                            <div class="table-responsive">
													            <div id="tblDatosAcademicos_wrapper" class="dataTables_wrapper no-footer">
                                                                    <div class="table-responsive"><table id="tblDatosAcademicos" class="table-borderless dataTable no-footer" role="grid" style="width: 100%;">																					
													                   <table class="table">
                                                                      
                                                                        <tbody>
                                                                            <tr>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            </tr>
                                                                            <tr>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            </tr>
                                                                            <tr>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            <td><img src="..." alt="..." class="img-thumbnail"></td>
                                                                            </tr>
                                                                        </tbody>
                                                                        </table>


                                                                    </div>
                                                                </div>
													        </div>	

												        </div>												
											            </div>
										            </div>					
									            </div>
								            </div>
							            </div>
                                        
					                </div>
				    	        </div>
					        </div>
                        </div>
        			</div>
		        </div>
            </div>
 		</div> 
</div>
