<div class="content-page">

    <!-- Page Header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a class="breadcrumb-item" href="/"><i class="icon-home2 mr-2"></i>Inicio</a>
                     <a  class="breadcrumb-item link-solicitudes" href="request-in-derived">Solicitudes derivadas </a>
                    <span class="breadcrumb-item active">Solititud</span>
                </div>
            </div>



        </div>
        <div class="page-header-content header-elements-md-inline">
            <div class="" style=" padding-top: 1.2%; padding-bottom:0.4%;">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Panel de constancia
                    </span></h4>
            </div>
        </div>

    </div>
    <!-- /page Header -->

    <div class="content">
        <div class="container-fluid">
            <div class="d-flex align-items-start flex-column flex-md-row">
                
                <!-- Left content -->
                <div class="w-100 overflow-auto order-2 order-md-1">
                    
                    <!-- Task overview -->
                    <div class="card">
                        
                        
                        <div class="card-body">
                            <div class="media flex-column flex-md-row mb-4">

                                <div class="media-body">
                                    <h5 class="media-title font-weight-semibold nombreTipoTramite">
										Emisión de Constancia de Ingreso
									</h5>
                                    
                                </div>

                            </div>

                            <div class="btn-group btn-group-lg btn-group-justified " role="group"  >
                                    <button type="button" class="btn btn-primary "><i class="far fa-save"></i> Grabar</button>
                                    <button type="button" class="btn btn-primary "><i class="far fa-file-alt"></i> Generar Doc.</button>
                                    <button type="button" class="btn btn-primary "><i class="fas fa-cloud-upload-alt"></i> Cargar Doc.</button>
                                    <button type="button" class="btn btn-primary "> <i class="fas fa-paperclip"></i> Cargar Anexos</button>
                                    <button type="button" class="btn btn-primary "><i class="fas fa-times"></i> Anular</button>
                                    <button type="button" class="btn btn-primary "><i class="fas fa-arrow-left"></i> Cerrar</button>
                                    <button type="button" class="btn btn-primary "><i class="fas fa-sign-out-alt"></i> Salir</button>
                            </div><br><br><br>
                           
                           <div class="row">
                                <div class="col-sm-6">
                                <div class="card border-primary">
                                    <h5 class="card-header border-primary  bg-primary text-whit">REMITENTE</h5>
                                <div class="card-body">
                                    
                                    <form>
                                        <div class="form-group">
                                            <div class="form-group">
                                            <label for="disabledTextInput">Dependencia:</label>
                                                <select class="form-control" id="exampleFormControlSelect1" >
                                                <option>DIRECIÓN GENERAL DE LA OCA</option>
                                                <option>SUB DIRECCIÓN GENERAL DE LA OCA</option>  
                                                </select>                                              
                                            </div>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledTextInput">Firmado por:</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="AREVALO TORRES JOSÉ" disabled>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledTextInput">Elaborado por:</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="CABEZAS ARROYO SONIA VILMA" disabled>
                                        </div>

                                        
                                    </form>
                                </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="card border-primary">
                                    
                                <h5 class="card-header border-primary  bg-primary text-whit">EXPEDIENTE</h5>
                                <div class="card-body">                                    
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                            <label for="disabledTextInput">Número:</label>
                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="UNMSM-20200016709" disabled>
                                            </div>
                                            <div class="form-group col-md-6">
                                            <label for="disabledTextInput">Fecha:</label>
                                            <input type="text" id="disabledTextInput" class="form-control" placeholder="01/08/2020" disabled>
                                            </div>
                                        </div>
                                        
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="disabledTextInput">AÑO:</label>
                                                <input type="text" id="disabledTextInput" class="form-control" placeholder="2020" disabled>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="disabledTextInput">Nro Emisión:</label>
                                                <input type="text" class="form-control" id="inputNrEmision" placeholder="994" disabled>
                                            </div>
                                        </div>  

                                        <div class="form-group">
                                            <label for="disabledTextInput">Elaborado por:</label>
                                            <input type="text" class="form-control" id="inputElaboradir" placeholder="CABEZAS ARROYO SONIA VILMA" disabled>
                                        </div>

                                         <div class="form-group">
                                            <label for="disabledTextInput">Estado:</label>
                                            <input type="text" class="form-control" id="inputEstado" placeholder="Derivado" disabled>
                                        </div>                                   
                                        
                                    </form>
                                    
                                </div>
                                </div>
                            </div>
                            

                            </div>
<!--
                            <div class="row">
                            <div class="col-sm-6">
                                <div class="card border-primary">
                                    <h5 class="card-header border-primary text-primary">REMITENTE</h5>
                                <div class="card-body">
                                    
                                    <form>
                                        <div class="form-group">
                                            <div class="form-group">
                                            <label for="disabledTextInput">Dependencia:</label>
                                                <select class="form-control" id="exampleFormControlSelect1" >
                                                <option>DIRECIÓN GENERAL DE LA OCA</option>
                                                <option>SUB DIRECCIÓN GENERAL DE LA OCA</option>  
                                                </select>                                              
                                            </div>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledTextInput">Firmado por:</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="AREVALO TORRES JOSÉ" disabled>
                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledTextInput">Elaborado por:</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="CABEZAS ARROYO SONIA VILMA" disabled>
                                        </div>

                                        
                                    </form>
                                </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card border-primary">
                                      <h5 class="card-header border-primary  bg-primary text-whit">VISTOS BUENOS</h5>
                                <div class="card-body">
                                  
                                    <table class="table">
                                        <thead class="thead">
                                            <tr class="table-primary ">
                                            <th scope="col">#</th>
                                            <th scope="col">Dependencia</th>
                                            <th scope="col">Personal</th>                                            
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <th scope="row">1</th>
                                            <td>OCA</td>
                                            <td>LOPEZ ORTIZ JUAN</td>                                            
                                            </tr>  
                                            <tr>
                                            <th scope="row">2</th>
                                            <td>OCA</td>
                                            <td>AKMONACID ORTIZ ANTONY</td>                                            
                                            </tr>                                          
                                        </tbody>
                                        </table>

                                        
                                </div>
                                </div>
                            </div>
                            
                            </div>
  -->                          
                        <div class="row">
                            <div class="col">
                                <div class="card border-primary">
                                    <h5 class="card-header border-primary  bg-primary text-whit">DOCUMENTO</h5>
                                <div class="card-body">
                                    
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                            <label for="disabledTextInput">Tipo:</label>
                                                <select class="form-control" id="exampleFormControlSelect1" >
                                                <option>INFORME </option>
                                                <option>DOCUMENTO</option>  
                                                </select>                                              
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label for="disabledTextInput">Fecha:</label>
                                                <input type="text" class="form-control" id="inputAddress" placeholder="01/08/2020" disabled>
                                                                                          
                                            </div>
                                                                                        
                                        </div>
                                        <div class="form-group">
                                            <label for="disabledTextInput">Asunto:</label>
                                            <textarea class="form-control " id="validationTextarea"  >Obtención de la constancia de ingreso DNI:3232303300</textarea>                                            
                                        </div>
                                                                               
                                    </form>

                                    <div class="col">
                                        <div class="card border-light">
                                            <h5 class="card-header border-light bg-light">REFERENCIAS</h5>
                                        <div class="card-body">
                                            
                                            <table class="table ">
                                                <thead >
                                                    <tr class="table-primary text-center" >
                                                    <th scope="col">AÑO</th>
                                                    <th scope="col">TIPO DE DOUMENTO</th>
                                                    <th scope="col">EMI/REC</th>   
                                                    <th scope="col">Nº DOC</th> 
                                                    <th scope="col">FECHA</th>                                          
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="text-center">
                                                    <th scope="row">2020</th>
                                                    <td>CONSTANCIA VIRTUAL</td>
                                                    <td>
                                                    <div class="custom-control custom-switch">
                                                            <input type="checkbox" class="custom-control-input" id="customSwitch1" >
                                                            <label class="custom-control-label" for="customSwitch1"></label>
                                                        </div>                                              

                                                    </td>    
                                                    <td>20200016709</td> 
                                                    <td>01/08/2020</td>                                         
                                                    </tr>                                                                                        
                                                </tbody>
                                                </table>

                                            
                                        </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                </div>
                            </div>
  
                            
                        </div>

                            <div class="card text-center border-primary">
                                <div class="card-header border-primary  bg-primary text-whit">                                  
                                    DESTINATARIO
                                </div>
                                <div class="card-body">
                                    
                                    <table class="table">
                                        <thead >
                                            <tr class="table-primary" >
                                            <th scope="col">DEPENDENCIA</th>
                                            <th scope="col">LOCAL</th>
                                            <th scope="col">PERSONAL</th>   
                                            <th scope="col">TRÁMITE</th> 
                                            <th scope="col">INDICACIONES</th> 
                                            <th scope="col">PRIORIDAD</th>                                          
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <td>E.A.P.S</td>
                                            <td>FACULTAD DE MEDICINA</td>                                             
                                            <td>TORRES ESPINOZA JOSÉ</td> 
                                            <td>CONSTANCIA</td>  
                                            <td></td>
                                            <td>NORMAL</td>                                       
                                            </tr>                                                                                        
                                        </tbody>
                                        </table>
                                    
                                </div>                              
                            </div>

                        </div>

                    </div>
                    <!-- /task overview -->
                    <div class="card-body" class="mx-2">
                        <div class="media flex-column flex-md-row">
                            
                        </div>    
                    </div>
                </div>
                <!-- /left content -->

            
            </div>
        </div>
    </div>        

</div>