<div class="content-page">

    <!-- Page Header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Inicio</a>
                    <span class="breadcrumb-item active">Solicitudes de Trámite</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>


        </div>

        <div class="page-header-content header-elements-md-inline">
            <div class="mt-2">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span
                        class="font-weight-semibold">Solicitudes de Trámite</span></h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>


        </div>


    </div>
    <!-- /page Header -->


    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 d-none">

                    <div class="card">
                        <div class="card-header">
                            <h4 class="panel-title">Consulta de Solicitudes de Trámite</h4>
                            <ul class="panel-controls">
                            </ul>
                        </div>
                        <div class="card-body">


                            <div class="col-xs-12">
                                <h5 class="card-title">Criterios de Búsqueda </h5>
                                <form id="formParamIniciales" class="form-horizontal">
                                    <!-- 						<div class="form-group"> -->
                                    <div class=" row">
                                        <div class="col-md-6 CMd6">
                                            <div class=" row">
                                                <label class="col-md-3 mt-2 ml-3 control-label">Escuela
                                                    Profesional</label>
                                                <div class="col-md-7 ">

                                                    <select id="cmbEscuelaProfesional" name="escuelaProfesional"
                                                            data-placeholder="Selecciona una Escuela Profesiona"
                                                            class="form-control form-control-select2">
                                                        <option value="-1" disabled="disabled" selected="selected">
                                                            Seleccione una Escuela Profesional
                                                        </option>
                                                        <option value="1">INGENIERÍA DE SISTEMAS</option>
                                                        <option value="2">INGENIERÍA DE SOFTWARE</option>

                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6 CMd6">
                                            <div class=" row">
                                                <label class="col-md-3  mt-2 ml-3  control-label">Plan de
                                                    Estudios</label>
                                                <div class="col-md-7 ">
                                                    <select id="cmbPlanEstudios" name="planEstudios"
                                                            class="form-control select2">
                                                        <option value="-1" disabled="disabled" selected="selected">
                                                            Seleccione un Plan de Estudios
                                                        </option>
                                                        <option value="1">2009</option>
                                                        <option value="2">2014</option>
                                                        <option value="3">2015</option>
                                                        <option value="4">2018</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-11 mt-2">
                                            <button id="btnBuscarPorNumeroDocumentoIdentidad mr-5 mt-2"
                                                    class="btn btn-primary legitRipple" type="button"
                                                    style=" float: right; ">
                                                <i class="fa fa-search"></i> Buscar
                                            </button>

                                        </div>

                                    </div>

                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col-md-12 col-sm-12 col-xs-12">
                    <div class="card-header bg-transparent header-elements-inline">
                        <h6 id="titulo-card" class="card-title">LISTA DE SOLICITUDES NO LEIDAS</h6>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
                         Las diferentes solicitudes de los postulantes para iniciar el proceso de solicitud de trámite de
                        constancia se mostrarán aquí. Contiene:
                        <ul>
                            <li>Filtros requeridos que se encuentran debajo para aplicar una búsqueda más precisa</li>
                            <li>Ajustar la visibilidad de las columnas según crea conveniente (botón "COLUMNAS")</li>
                            <li>Abrir las solicitudes en nuevas pestañas, para revisar a detalle el estado de la
                                solicitud
                            </li>
                            <li><a href="infoRequest" class="nav-link">Solicitud detalle</a></li>
                        </ul>
                        </div>

                        <div class="card-body" style="padding-bottom: 0px;">
											<div class="form-group row">
																					
												<div class="col-lg-3">
												    <label class="col-lg-12 col-form-label">Rango de fechas:</label>
													<div class="col-lg-12">	
													    <div class="input-group">
														    <span class="input-group-prepend">
														    <span class="input-group-text"><i class="icon-calendar22"></i></span>
															</span>
															<input style="float: left;" type="text" id="rangoFechas" class="form-control daterange-basic" value="07-07-2020  17-07-2020"> 
														</div>
													</div>
												</div>
												
                                                <div class="col-lg-3">
												    <label class="col-lg-12 col-form-label">Facultad:</label>
												    <div class="col-lg-12">
                                                        <select class="form-control form-control-select2" id="cmbGrado">
                                                            <option>Seleccione una facultad</option>
                                                            <option>Facultad de Medicina</option>
															<option>Facultad de Economía</option>
                                                            <option>Facultad de Ciencias Sociales</option>
                                                            <option>Facultad de Derecho</option>
                                                            <option>Facultad de Odontologia</option>
														</select>
													</div>
												</div>
																							
												<div class="col-lg-3">
												    <label class="col-lg-12 col-form-label">Especialidad:</label>
												    <div class="col-lg-12">
                                                        <select class="form-control form-control-select2" id="cmbGrado">
															<option>Seleccione una especialidad</option>
                                                            <option>Escuela de Enfermería</option>
                                                            <option>Escuela de Obstetricia</option>
                                                            <option>Escuela de Medicina Humana</option>
                                                            <option>Escuela de Nutrición</option>
                                                            <option>Escuela de Tecnología Medica</option>
														</select>
													</div>
												</div>
																						
												<div class="col-lg-3">
                                                    <label></label>
                                                    <br></br>
													<div class="row">
														<button style="float: right;" type="button" id="btnReset" class="col-lg-5 mr-1 btnMitad btn btn-outline btn-danger bg-danger-300 text-danger-300 border-danger-300">BORRAR<i class="icon-eraser ml-1"></i></button>
														<button style="float: left;" type="button" id="btnBuscar" class="col-lg-5 ml-1 btnMitad btn btn-outline btn-primary bg-primary-300 text-primary-300 border-primary-300">BUSCAR <i class="icon-search4 ml-2"></i></button>
																							
				 									</div>
												</div>
																						
											</div>
																							
																			
											<div class="form-group row">
												<div class="col-lg-3">
												    <label class="col-lg-12 col-form-label">Nombres:</label>
												    <div class="col-lg-12">
												        <input type="text" class="form-control" id="nombreCompletoEgresado" placeholder="Nombre completo">
													</div>
												</div>												
											    
                                                <div class="col-lg-3">
													<label class="col-lg-12 col-form-label">Apellido Paterno:</label>
												    <div class="col-lg-12">
											            <input type="text" class="form-control" id="apellidoPaternoEgresado" placeholder="Apellido Paterno">
												    </div>
												</div>
																							
												<div class="col-lg-3">
													<label class="col-lg-12 col-form-label">Apellido Materno:</label>
													<div class="col-lg-12">
											            <input type="text" class="form-control" id="apellidoMaternoEgresado" placeholder="Apellido Materno">
													</div>
												</div>
																							
												<div class="col-lg-3">
													<label class="col-lg-12 col-form-label">Modalidad:</label>
													<div class="col-lg-12">
													    <select class="form-control form-control-select2" id="cmbModalidad">
															<option>Seleccione una modalidad</option>
                                                            <option>Examen general</option>
                                                            <option>Primeros puestos</option>								
														</select>
												    </div>
											    </div>			
											</div>
																						
																						
											<div class="form-group row">
												<div class="col-lg-3">
												    <label class="col-lg-12 col-form-label">Tipo documento:</label>
													<div class="col-lg-12">
													    <select class="form-control form-control-select2" id="cmbDocumento">
                                                            <option>Seleccione un tipo de documento</option>
                                                            <option>DNI</option>
                                                            <option>Libreta electoral</option>
                                                            <option>Pasaporte</option>
													    </select>
													</div>
												</div>
																							
												<div class="col-lg-3">
													<label class="col-lg-12 col-form-label">Numero de documento:</label>
													<div class="col-lg-12">
														<input type="text" class="form-control" id="numeroDocumento" placeholder="N° Documento">
												    </div>	
												</div>	     										
									        </div>                                                                              
									    
                                        </div>
                       
                        <div class="table-responsive">
                            <div id="tblConsulta_wrapper" class="dataTables_wrapper no-footer">
                                <div class="datatable-header">
                                    
                                    <div class="dt-buttons">
                                        <button class="dt-button buttons-collection buttons-colvis btn btn-outline bg-teal text-teal btn-icon dropdown-toggle"
                                                tabindex="0" aria-controls="tblConsulta" type="button"
                                                aria-haspopup="true"><span><i
                                                class="icon-grid3 mr-2"></i>Columnas</span></button>
                                    </div>
                                    <div class="dataTables_length" id="tblConsulta_length"><label>Mostrar &nbsp; <select
                                            name="tblConsulta_length" aria-controls="tblConsulta" class="">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select> &nbsp; registros</label></div>
                                </div>
                                <div class="datatable-scroll-wrap">
                                    <div class="table-responsive">
                                        <table id="tblConsulta"
                                               class="table tasks-list table-lg dataTable dataTablee no-footer table-striped table-hover"
                                               role="grid" aria-describedby="tblConsulta_info" style="width: 100%;">


                                            <thead>
                                            <tr role="row">
                                                <th class="all filtrable sorting_desc" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 32px;"
                                                    aria-label="Id: Activar para ordenar la columna de manera ascendente"
                                                    aria-sort="descending">Id
                                                </th>
                                                <th class="all seleccionable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 131px;"
                                                    aria-label="Tipo Tramite: Activar para ordenar la columna de manera ascendente">
                                                    Verificar 
                                                </th>
                                                <th class="all filtrable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 72px;"
                                                    aria-label="Fecha Solicitud: Activar para ordenar la columna de manera ascendente">
                                                    Fecha Solicitud
                                                </th>
                                                <th class="all filtrable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 63px;"
                                                    aria-label="Asunto: Activar para ordenar la columna de manera ascendente">
                                                    Asunto
                                                </th>
                                                <th class="all filtrable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 76px;"
                                                    aria-label="N° Doc. Identidad: Activar para ordenar la columna de manera ascendente">
                                                    N° Doc. Identidad
                                                </th>
                                                <th class="all filtrable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 77px;"
                                                    aria-label="Nombre Completo: Activar para ordenar la columna de manera ascendente">
                                                    Nombre Completo
                                                </th>
                                                <th class="all seleccionable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 131px;"
                                                    aria-label="Facultad: Activar para ordenar la columna de manera ascendente">
                                                    Facultad
                                                </th>
                                                <th class="all seleccionable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 131px;"
                                                    aria-label="Escuela: Activar para ordenar la columna de manera ascendente">
                                                    Escuela
                                                </th>
                                                <th class="all seleccionable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 131px;"
                                                    aria-label="Estado: Activar para ordenar la columna de manera ascendente">
                                                    Estado de Requisitos
                                                </th>
                                                <th class="all seleccionable sorting" tabindex="0"
                                                    aria-controls="tblConsulta" rowspan="1" colspan="1"
                                                    style="width: 131px;"
                                                    aria-label="Estado Tramite: Activar para ordenar la columna de manera ascendente">
                                                    Estado Tramite
                                                </th>                                               
                                            </tr>
                                            <!--                                            <tr id="filaFiltro">-->
                                            <!--                                                <th class="encabezadoFiltro"><input type="text" placeholder="Id"-->
                                            <!--                                                                                    class="input-sm form-control filtrable"-->
                                            <!--                                                                                    style="width:100%;"></th>-->
                                            <!--                                                <th class="encabezadoFiltro"><select-->
                                            <!--                                                        class="encabezado input-sm form-control select2 select2-hidden-accessible"-->
                                            <!--                                                        style="width:100%;" tabindex="-1" aria-hidden="true">-->
                                            <!--                                                    <option value="" selected="selected">MOSTRAR TODOS</option>-->
                                            <!--                                                </select><span-->
                                            <!--                                                        class="select2 select2-container select2-container--default"-->
                                            <!--                                                        dir="ltr" style="width: 100%;"><span class="selection"><span-->
                                            <!--                                                        class="select2-selection select2-selection--single"-->
                                            <!--                                                        role="combobox" aria-haspopup="true" aria-expanded="false"-->
                                            <!--                                                        tabindex="0" aria-labelledby="select2-kit9-container"><span-->
                                            <!--                                                        class="select2-selection__rendered" id="select2-kit9-container"-->
                                            <!--                                                        title="MOSTRAR TODOS">MOSTRAR TODOS</span><span-->
                                            <!--                                                        class="select2-selection__arrow" role="presentation"><b-->
                                            <!--                                                        role="presentation"></b></span></span></span><span-->
                                            <!--                                                        class="dropdown-wrapper" aria-hidden="true"></span></span></th>-->
                                            <!--                                                <th class="encabezadoFiltro"><input type="text"-->
                                            <!--                                                                                    placeholder="Fecha Solicitud"-->
                                            <!--                                                                                    class="input-sm form-control filtrable"-->
                                            <!--                                                                                    style="width:100%;"></th>-->
                                            <!--                                                <th class="encabezadoFiltro"><input type="text" placeholder="Asunto"-->
                                            <!--                                                                                    class="input-sm form-control filtrable"-->
                                            <!--                                                                                    style="width:100%;"></th>-->
                                            <!--                                                <th class="encabezadoFiltro"><input type="text"-->
                                            <!--                                                                                    placeholder="N° Doc. Identidad"-->
                                            <!--                                                                                    class="input-sm form-control filtrable"-->
                                            <!--                                                                                    style="width:100%;"></th>-->
                                            <!--                                                <th class="encabezadoFiltro" style=""><input type="text"-->
                                            <!--                                                                                             placeholder="Nombre Completo"-->
                                            <!--                                                                                             class="input-sm form-control filtrable"-->
                                            <!--                                                                                             style="width:100%;"></th>-->
                                            <!--                                                <th class="encabezadoFiltro" style=""><select-->
                                            <!--                                                        class="encabezado input-sm form-control select2 select2-hidden-accessible"-->
                                            <!--                                                        style="width:100%;" tabindex="-1" aria-hidden="true">-->
                                            <!--                                                    <option value="" selected="selected">MOSTRAR TODOS</option>-->
                                            <!--                                                </select><span-->
                                            <!--                                                        class="select2 select2-container select2-container--default"-->
                                            <!--                                                        dir="ltr" style="width: 100%;"><span class="selection"><span-->
                                            <!--                                                        class="select2-selection select2-selection--single"-->
                                            <!--                                                        role="combobox" aria-haspopup="true" aria-expanded="false"-->
                                            <!--                                                        tabindex="0" aria-labelledby="select2-3n9w-container"><span-->
                                            <!--                                                        class="select2-selection__rendered" id="select2-3n9w-container"-->
                                            <!--                                                        title="MOSTRAR TODOS">MOSTRAR TODOS</span><span-->
                                            <!--                                                        class="select2-selection__arrow" role="presentation"><b-->
                                            <!--                                                        role="presentation"></b></span></span></span><span-->
                                            <!--                                                        class="dropdown-wrapper" aria-hidden="true"></span></span></th>-->
                                            <!--                                                <th class="encabezadoFiltro"><select-->
                                            <!--                                                        class="encabezado input-sm form-control select2 select2-hidden-accessible"-->
                                            <!--                                                        style="width:100%;" tabindex="-1" aria-hidden="true">-->
                                            <!--                                                    <option value="" selected="selected">MOSTRAR TODOS</option>-->
                                            <!--                                                </select><span-->
                                            <!--                                                        class="select2 select2-container select2-container--default"-->
                                            <!--                                                        dir="ltr" style="width: 100%;"><span class="selection"><span-->
                                            <!--                                                        class="select2-selection select2-selection--single"-->
                                            <!--                                                        role="combobox" aria-haspopup="true" aria-expanded="false"-->
                                            <!--                                                        tabindex="0" aria-labelledby="select2-ewvv-container"><span-->
                                            <!--                                                        class="select2-selection__rendered" id="select2-ewvv-container"-->
                                            <!--                                                        title="MOSTRAR TODOS">MOSTRAR TODOS</span><span-->
                                            <!--                                                        class="select2-selection__arrow" role="presentation"><b-->
                                            <!--                                                        role="presentation"></b></span></span></span><span-->
                                            <!--                                                        class="dropdown-wrapper" aria-hidden="true"></span></span></th>-->
                                            <!--                                                <th class="encabezadoFiltro" style=""><select-->
                                            <!--                                                        class="encabezado input-sm form-control select2 select2-hidden-accessible"-->
                                            <!--                                                        style="width:100%;" tabindex="-1" aria-hidden="true">-->
                                            <!--                                                    <option value="" selected="selected">MOSTRAR TODOS</option>-->
                                            <!--                                                </select><span-->
                                            <!--                                                        class="select2 select2-container select2-container--default"-->
                                            <!--                                                        dir="ltr" style="width: 100%;"><span class="selection"><span-->
                                            <!--                                                        class="select2-selection select2-selection--single"-->
                                            <!--                                                        role="combobox" aria-haspopup="true" aria-expanded="false"-->
                                            <!--                                                        tabindex="0" aria-labelledby="select2-vpib-container"><span-->
                                            <!--                                                        class="select2-selection__rendered" id="select2-vpib-container"-->
                                            <!--                                                        title="MOSTRAR TODOS">MOSTRAR TODOS</span><span-->
                                            <!--                                                        class="select2-selection__arrow" role="presentation"><b-->
                                            <!--                                                        role="presentation"></b></span></span></span><span-->
                                            <!--                                                        class="dropdown-wrapper" aria-hidden="true"></span></span></th>-->
                                            <!--                                                <th class="encabezadoFiltro" style=""><select-->
                                            <!--                                                        class="encabezado input-sm form-control select2 select2-hidden-accessible"-->
                                            <!--                                                        style="width:100%;" tabindex="-1" aria-hidden="true">-->
                                            <!--                                                    <option value="" selected="selected">MOSTRAR TODOS</option>-->
                                            <!--                                                </select><span-->
                                            <!--                                                        class="select2 select2-container select2-container--default"-->
                                            <!--                                                        dir="ltr" style="width: 100%;"><span class="selection"><span-->
                                            <!--                                                        class="select2-selection select2-selection--single"-->
                                            <!--                                                        role="combobox" aria-haspopup="true" aria-expanded="false"-->
                                            <!--                                                        tabindex="0" aria-labelledby="select2-q2l0-container"><span-->
                                            <!--                                                        class="select2-selection__rendered" id="select2-q2l0-container"-->
                                            <!--                                                        title="MOSTRAR TODOS">MOSTRAR TODOS</span><span-->
                                            <!--                                                        class="select2-selection__arrow" role="presentation"><b-->
                                            <!--                                                        role="presentation"></b></span></span></span><span-->
                                            <!--                                                        class="dropdown-wrapper" aria-hidden="true"></span></span></th>-->
                                            <!--                                                <th class="encabezadoFiltro"><select-->
                                            <!--                                                        class="encabezado input-sm form-control select2 select2-hidden-accessible"-->
                                            <!--                                                        style="width:100%;" tabindex="-1" aria-hidden="true">-->
                                            <!--                                                    <option value="" selected="selected">MOSTRAR TODOS</option>-->
                                            <!--                                                </select><span-->
                                            <!--                                                        class="select2 select2-container select2-container--default"-->
                                            <!--                                                        dir="ltr" style="width: 100%;"><span class="selection"><span-->
                                            <!--                                                        class="select2-selection select2-selection--single"-->
                                            <!--                                                        role="combobox" aria-haspopup="true" aria-expanded="false"-->
                                            <!--                                                        tabindex="0" aria-labelledby="select2-biy8-container"><span-->
                                            <!--                                                        class="select2-selection__rendered" id="select2-biy8-container"-->
                                            <!--                                                        title="MOSTRAR TODOS">MOSTRAR TODOS</span><span-->
                                            <!--                                                        class="select2-selection__arrow" role="presentation"><b-->
                                            <!--                                                        role="presentation"></b></span></span></span><span-->
                                            <!--                                                        class="dropdown-wrapper" aria-hidden="true"></span></span></th>-->
                                            <!--                                                <th class="encabezadoFiltro"><select-->
                                            <!--                                                        class="encabezado input-sm form-control select2 select2-hidden-accessible"-->
                                            <!--                                                        style="width:100%;" tabindex="-1" aria-hidden="true">-->
                                            <!--                                                    <option value="" selected="selected">MOSTRAR TODOS</option>-->
                                            <!--                                                </select><span-->
                                            <!--                                                        class="select2 select2-container select2-container--default"-->
                                            <!--                                                        dir="ltr" style="width: 100%;"><span class="selection"><span-->
                                            <!--                                                        class="select2-selection select2-selection--single"-->
                                            <!--                                                        role="combobox" aria-haspopup="true" aria-expanded="false"-->
                                            <!--                                                        tabindex="0" aria-labelledby="select2-61b3-container"><span-->
                                            <!--                                                        class="select2-selection__rendered" id="select2-61b3-container"-->
                                            <!--                                                        title="MOSTRAR TODOS">MOSTRAR TODOS</span><span-->
                                            <!--                                                        class="select2-selection__arrow" role="presentation"><b-->
                                            <!--                                                        role="presentation"></b></span></span></span><span-->
                                            <!--                                                        class="dropdown-wrapper" aria-hidden="true"></span></span></th>-->
                                            <!--                                                <th class="encabezadoFiltro"></th>-->
                                            <!--                                            </tr>-->
                                            </thead>
                                            <tbody>
                                            <tr class="odd">
                                                <td >00001</td>
                                                <td class=" all dt-center">
                                                                <a class="btn btn-xs btn-success verDocumento" title="Ver Documento"
                                                                    data-tooltip="tooltip" style="padding: 8px 8px;"
                                                                     href="/postulants/info_request">
                                                                    <i class="icon-file-eye"></i>
                                                                </a>                                                                
                                                </td>
                                                <td class=" all filtrable">
                                                    <span class="badge badge-flat border-info text-info-600">2020-07-17 11:30</span>                                                
                                                </td>
                                                <td >Constancia de Ingreso - Pregrado</td>
                                                <td >72338886</td>
                                                <td >GARCIA MARTINEZ, CHRISTIAN ARTURO</td>
                                                <td>Facultad de Ingeniería de Sistemas</td>
                                                <td>Escuela Academia Profesional de Ingeniería de Software</td>
                                                <td class=" all filtrable">
                                                <span class="badge badge-flat border-success text-success">Aprobado</span> 
                                                </td>
                                                <td>
                                                <span class="badge badge-flat border-primary text-primary-600">No leido</span> 
                                                </td>                                                
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="datatable-footer">
                                    <div class="dataTables_info" id="tblConsulta_info" role="status" aria-live="polite">
                                        Mostrando solicitudes de trámites del 0 al 0 de un total de 0 solicitudes de
                                        trámites
                                    </div>
                                    <div class="dataTables_paginate paging_simple_numbers" id="tblConsulta_paginate"><a
                                            class="paginate_button previous disabled" aria-controls="tblConsulta"
                                            data-dt-idx="0" tabindex="0"
                                            id="tblConsulta_previous">Anterior</a><span></span><a
                                            class="paginate_button next disabled" aria-controls="tblConsulta"
                                            data-dt-idx="1" tabindex="0" id="tblConsulta_next">Siguiente</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade custom-modal show" id="modalVistaDocumento" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <!-- 			<legend class="well-legend">Formulario de Mantenimiento</legend> -->
                            <!-- 			<form id="formMantenimiento" class="form-horizontal" role="form"> -->
                            <form id="formMantenimiento" class="form-horizontal" data-parsley-validate=""
                                  data-parsley-excluded="input[type=button], input[type=submit], input[type=reset], input[type=hidden], :disabled, :hidden"
                                  novalidate="" enctype="multipart/form-data" method="post">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"><i class="icon-menu7 mr-2"></i> &nbsp; Vista del
                                                Documento</h5>
                                            <button type="button" class="close" data-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">


                                            <div class="form-group">
                                                <div id="contenedor"></div>
                                            </div>


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary legitRipple"
                                                    data-dismiss="modal">Cerrar
                                            </button>


                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
