<div class="content-page">

	<!-- Page Header -->
	<div class="page-header page-header-light">
		<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
			<div class="d-flex">
				<div class="breadcrumb">
					<a class="breadcrumb-item" href="/"><i class="icon-home2 mr-2"></i>Inicio</a>
					<span class="breadcrumb-item active">Historial de trámites</span>
				</div>
			</div>



		</div>
		<div class="page-header-content header-elements-md-inline">
			<div class="" style=" padding-top: 1.2%; padding-bottom:0.4%;">
				<h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Panel de historial de
						solicitudes
					</span></h4>
			</div>
		</div>

	</div><br>

	<!-- /page Header -->

	<div class="content">
		<div class="row">
			<div class="col-sm-3">

				<div class="card col-md-4" style="max-width: 18rem;">
					<div class="card-header bg-transparent header-elements-inline ">
						<span class="text-uppercase font-size-sm font-weight-semibold">ESTADOS</span>
						<div class="header-elements">
							<div class="list-icons">
								<a class="list-icons-item" data-action="collapse"></a>
							</div>
						</div>
					</div>

					<div class="card-body">
						<div class="form-group" id="checkbox-container">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="1" id="checkbox_finalizado"
									name="estados">
								<label class="form-check-label" for="checkbox_finalizado">
									Finalizado
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="2" id="checkbox_rechazado"
									name="estados">
								<label class="form-check-label" for="checkbox_rechazado">
									Rechazado
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="card col-md-4" style="max-width: 18rem;">
					<div class="card-header bg-transparent header-elements-inline ">
						<span class="text-uppercase font-size-sm font-weight-semibold">CONSTANCIAS</span>
						<div class="header-elements">
							<div class="list-icons">
								<a class="list-icons-item" data-action="collapse"></a>
							</div>
						</div>
					</div>

					<div class="card-body">
						<div class="form-group" id="checkbox-container-constancias">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="1" id="checkbox_puestos"
									name="constancias">
								<label class="form-check-label" for="checkbox_puestos">
									Primeros Puestos de Educación Secundaria
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" value="2" id="checkbox_ordinario"
									name="constancias">
								<label class="form-check-label" for="checkbox_ordinario">
									Ordinario
								</label>
							</div>
						</div>
					</div>
				</div>

				{{!-- <div class="card col-md-4 d-none" style="max-width: 18rem;" id="cardEspecialidades">
					<div class="card-header bg-transparent header-elements-inline ">
						<span class="text-uppercase font-size-sm font-weight-semibold">Especialidades</span>
						<div class="header-elements">
							<div class="list-icons">
								<a class="list-icons-item" data-action="collapse"></a>
							</div>
						</div>
					</div>

					<div class="card-body">
						<div class="form-group" id="checkbox-container-especialidades">
							
							<div class="form-check checkTemplate">
								<input class="form-check-input valorCheckbox" type="checkbox" value="" 
									id="checkbox_" name="especialidades">
								<label class="form-check-label labelCheckbox" for="checkbox_">
									...
								</label>
							</div> 

						</div>
					</div>
				</div> --}}

			</div>

			<div class="col-sm-9">
				<div class="card col-md-12 ml-auto" id="cardFinalizadas">
					<div class="card-header bg-transparent header-elements-inline ">
						<span class="text-uppercase font-size-sm font-weight-semibold">Solicitudes finalizadas -
							<span id="complementoTitulo" class="font-weight-bold"> FRSIAAATR</span>
						</span>

						<div class="wmin-sm-200">
							<select id="codigoFacultad" class="form-control select2">
							</select>
						</div>

					</div>

					<div class="card-body">
						<div
							class="alert alert-info alert-dismissible alert-styled-left border-top-0 border-bottom-0 border-right-0">
							<b>¡Atención!</b> La lista siguiente especifica la lista de todos las solicitudes de
							obtención
							de la Constancia de Ingreso, si desea buscar una soliciud en especifio, puede buscarlo con
							el
							filtro de busqueda.
							<button type="button" class="close" data-dismiss="alert">×</button>
						</div>

						<div class="table-responsive col-xs-12 col-sm-12">
							<table id="tblHistorial"
								class="table datatable-pagination dataTable no-footer table-bordered table-hover datatable-highlight">
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>


</div>

<!-- Project JS files -->
<script src="/js/record/record.js"></script>
<!-- /projectFiles -->

<!-- Select2 -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<!-- /select2 -->

<!-- DataTables -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<!-- /dataTables -->