<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<title>Login | ADMINISTRADOR </title>
</head>
<body>
	<div class="fondoUNMSM">.</div>

	<div class="centrar">
		<div class="row">
			<div class="col">
				<div class="informacion">
					<div class="login">
						<div class="logo">
							<img src="/img/tramites.png" alt="logo">
						</div>
						<h2 class="t-center">Inicio de Sesión</h2>


						<form>
							<div class="inputWithIcon">
								<input type="email" placeholder="Tu correo" required>
								<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
								<span class="underline"></span>
							</div>
							<div class="inputWithIcon">
								<input type="password" placeholder="Tu contraseña" required>
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>

							<input type="submit" class="btn-login">
							
						</form>
					</div>
					<div class="guia-usuario">
						<h3 class="t-center">Manual de Usuario</h3>
						<p class="t-center">
							Si el usuario no cuenta con usuario y contraseña , puede realizar su solicitud de trámite haciendo click <a href="/admin/registro"> aquí</a> </p><p class="t-center">En caso de cualquier duda o inconveniente, por favor contactarse a <span>micorreo@unmsm.edu.pe</span></p>
						</div>
					</div>
				</div>
				<div class="col d-none">
					<img class="fondo-secundario" src="/img/admin.jpg" alt="">
				</div>
			</div>

		</div>

		<script src="https://kit.fontawesome.com/ee93dc3392.js" crossorigin="anonymous"></script>

		
	</body>
	</html>
