/*#252B38
#2A3140*/

h1{
	color: white;
}
.t-center{
	text-align: center;
}
.loading{
	width: 100%;
	height: 100vh;
	background-color: #252B38;
	overflow-x: hidden;
}
.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25%;
}
.redireccionar{
	padding: 15px;
	background-color: #2A3140;
	position: fixed;
	top: 30px;
	right: 20px;
	
	display: inline;
	transition: all .3s ease;
	border:1px solid #fff;
}
.redireccionar a{
	text-decoration: none;
		color: white
}
.redireccionar:hover{
	color: #2A3140;
	cursor: pointer;
	background-color: #ddffff;
	
}
.d-none{
	display: none!important;
}
.mostrar{
	display: block!important;
}
/**/

.wrapper {
	background-color: #FFF;
	border-radius: 2px;
	box-shadow: 0px 2px 1px 0px #DDD;
	box-sizing: border-box;
	height: 300px;
	left: 50%;
	margin: -150px 0 0 -150px;
	position: absolute;
	top: 50%;
	width: 300px;
}

.input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #CCC;
	color: #555;
	box-sizing: border-box;
	font-family: 'Arvo';
	font-size: 18px;
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -100px;
	padding: 10px 0px;
	position: relative;
	top: 50%;
	width: 200px;
}
.input:focus {
	outline: none;    
	
}
input::-webkit-input-placeholder {
	color: #AAA;
}

input:focus::-webkit-input-placeholder {
	color: dodgerblue;
}

.input:focus+.underline {
	transform: scale(1);
}

.underline {
	background-color: dodgerblue;
	display: inline-block;
	height: 2px;
	left: 50px;
	margin-top: -4px;
	position: absolute;
	top: 185px;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
	width: 202px;
}
button{
	position: absolute;
	color: #fff;
	padding: 10px 30px;
	background-color: #1E90FF;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -80%);
	text-align: center;
	border: 2px solid #fff;
}
button:hover{
	background-color: #0090B0;
	cursor: pointer;
}
/*#video{
	margin:auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}*/
#video{
	margin-left: 20%;
}