 <!--  fa-comment fa-check fa-exclamation fa-times    fa-info -->
 
<div class="content-page">

    <!-- Page Header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Inicio</a>
                    <span class="breadcrumb-item active">Buzon de Mensajes</span>
                </div>

                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>


        </div>

        <div class="page-header-content header-elements-md-inline">
            <div class="mt-2">
                <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Mis Mensajes</span></h4>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>


        </div>


    </div>
    <!-- /page Header -->

 <!-- ********************************************** -->

 <div class="flag note">
  <div class="flag__image note__icon">

    <i class="fa fa-check"></i>
</div>
<div class="flag__body note__text">
    Default color
</div>

</div>

<!-- ********************************************** -->
<div class="flag note">
  <div class="flag__image note__icon">

    <i class="fa fa-info"></i>
</div>
<div class="flag__body note__text">
    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
</div>

</div>
<!-- ********************************************** -->

</div>