<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	 <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- /global stylesheets -->
	<title>Login | USUARIO </title>
</head>

<style>
	body {
	font-family: "Karla", sans-serif;
	background-image: linear-gradient( rgba(22, 22, 26, 0.9), rgba(22, 22, 26, 0.9)), url("");
	{{!-- background-color: #d0d0ce; --}}
	min-height: 100vh; }

	.brand-wrapper {
	margin-bottom: 19px; }
	.brand-wrapper .logo {
		height: 37px; }

	.login-card {
	border: 0;
	border-radius: 27.5px;
	box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
	overflow: hidden; }
	.login-card-img {
		border-radius: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover; }
	.login-card .card-body {
		padding: 85px 60px 60px; }
		@media (max-width: 422px) {
		.login-card .card-body {
			padding: 35px 24px; } }
	.login-card-description {
		font-size: 25px;
		color: #000;
		font-weight: normal;
		margin-bottom: 23px; }
	.login-card form {
		max-width: 326px; }
	.login-card .form-control {
		border: 1px solid #d5dae2;
		padding: 15px 25px;
		margin-bottom: 20px;
		min-height: 45px;
		font-size: 13px;
		line-height: 15;
		font-weight: normal; }
		.login-card .form-control::-webkit-input-placeholder {
		color: #919aa3; }
		.login-card .form-control::-moz-placeholder {
		color: #919aa3; }
		.login-card .form-control:-ms-input-placeholder {
		color: #919aa3; }
		.login-card .form-control::-ms-input-placeholder {
		color: #919aa3; }
		.login-card .form-control::placeholder {
		color: #919aa3; }
	.login-card .login-btn {
		padding: 13px 20px 12px;
		background-color: #000;
		border-radius: 4px;
		font-size: 17px;
		font-weight: bold;
		line-height: 20px;
		color: #fff;
		margin-bottom: 24px; }
		.login-card .login-btn:hover {
		border: 1px solid #000;
		background-color: transparent;
		color: #000; }
	.login-card .forgot-password-link {
		font-size: 14px;
		color: #919aa3;
		margin-bottom: 12px; }
	.login-card-footer-text {
		font-size: 16px;
		color: #0d2366;
		margin-bottom: 60px; }
		@media (max-width: 767px) {
		.login-card-footer-text {
			margin-bottom: 24px; } }
	.login-card-footer-nav a {
		font-size: 14px;
		color: #919aa3; }
</style>

<body>
	 <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="/img/login.jpg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
				FRSIAAATR - CONSTANCIAS
                {{!-- <img src="assets/images/logo.svg" alt="logo" class="logo"> --}}
              </div>
              <p class="login-card-description">Iniciar sesión</p>
              <form action="/login" method="POST">
                  <div class="form-group">
                    <label for="dni" class="sr-only">DNI</label>
                    <input type="text" name="dni" id="dni" class="form-control" placeholder="Nº DNI">
                  </div>
                  <div class="form-group mb-4">
                    <label for="postulant_code" class="sr-only">Contraseña</label>
                    <input type="password" name="postulant_code" id="postulant_code" class="form-control" placeholder="Código de Postulante">
                  </div>
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Ingresar">
                </form>
                <br>
                <p class="login-card-footer-text">Registrate <a href="/register" class="text-reset">aquí</a></p>
                <nav class="login-card-footer-nav">
                  <a href="#!">© 2020</a>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
	{{!-- <div class="fondoUNMSM">.</div>

	<div class="centrar">
		<div class="row">
			<div class="col">
				<div class="informacion">
					<div class="login">
						<div class="logo">
							<img src="/img/tramites.png" alt="logo">
						</div>
						<h2 class="t-center">Inicio de Sesión</h2>

						<form action="/login" method="POST">
							<div class="inputWithIcon">
								<input name="dni" type="text" placeholder="Tu DNI" required>
								<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
								<span class="underline"></span>
							</div>
							<div class="inputWithIcon">
								<input name="postulant_code" type="text" placeholder="Código de postulante" required>
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>

							<input type="submit" class="btn-login">
						</form>
					</div>
					<div class="guia-usuario">
						<p class="t-center">
							Registrate haciendo click <a href="/register"> aquí</a> </p>
					</div>
				</div>
			</div>
			<div class="col d-none">
				<img class="fondo-secundario" src="/img/login.jpg" alt="">
			</div>
		</div>

	</div> --}}

	<script src="https://kit.fontawesome.com/ee93dc3392.js" crossorigin="anonymous"></script>


</body>

</html>