<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<title>Login | USUARIO </title>
</head>

<body>
	<div class="fondoUNMSM">.</div>

	<div class="centrar">
		<div class="row">
			<div class="col">
				<div class="informacion">
					<div class="login">
						<div class="logo">
							<img src="/img/tramites.png" alt="logo">
						</div>
						<h2 class="t-center">Inicio de Sesión</h2>


						<form action="/login" method="POST">
							<div class="inputWithIcon">
								<input type="text" placeholder="Tu DNI" name="dni" required>
								<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
								<span class="underline"></span>
							</div>
							<div class="inputWithIcon">
								<input type="text" placeholder="Tu Codigo" name="code" required>
								<i class="fa fa-lock" aria-hidden="true"></i>
							</div>

							<input type="submit" class="btn-login">

						</form>
					</div>
					<div class="guia-usuario">
						<p class="t-center">
							Registrate haciendo click <a href="/registre"> aquí</a> </p>
					</div>
				</div>
			</div>
			<div class="col d-none">
				<img class="fondo-secundario" src="/img/login.jpg" alt="">
			</div>
		</div>

	</div>

	<script src="https://kit.fontawesome.com/ee93dc3392.js" crossorigin="anonymous"></script>


</body>

</html>