<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/regsitro.css" type="text/css">

	<title>Register | ADMINISTRADOR </title>
</head>
<body>
	<section class="register">

		<div class="header">
			<div class="logo"></div>
			<h1 class="t-center">Registro de usuario</h1>
		</div>

		<div class="formulario">
			<form>
				<label>Nombre</label>
				<div class="inputWithIcon">

					<input type="email" placeholder="Tú nombre" required>
					<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
					<span class="underline"></span>
				</div>
				<label>Apellido Paterno</label>
				<div class="inputWithIcon">

					<input type="email" placeholder="Tú apellido paterno" required>
					<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
					<span class="underline"></span>
				</div>
				<label>apellido Materno</label>
				<div class="inputWithIcon">

					<input type="email" placeholder="Tú apellido materno" required>
					<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
					<span class="underline"></span>
				</div>
				
				<div class="row">
					<div class="col-f">
						<label>DNI</label>
						<div class="inputWithIcon">

							<input type="text" placeholder="Ingrese tu DNI" required>
							<i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
							<span class="underline"></span>
						</div>
					</div>
					<div class="col-f">
						<label>Fecha de Nacimiento</label>
						<div class="inputWithIcon">

							<input id="date" type="date"  required>
							<span class="underline"></span>
						</div>
					</div>
				</div>

				<input type="submit" class="btn-login btn-chico">

			</form>
		</div>

		<div class="footer t-center">
			© Grupo 6- 2020
		</div>
	</section>

	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/ee93dc3392.js" crossorigin="anonymous"></script>

	
</body>
</html>
